In [13]:
print("Hello World")

Hello World

In [14]:
print(5,6)

5 6

In [15]:
print(False)

False

In [16]:
print("India", "Pakistan","Nepal","Srilanka")

India Pakistan Nepal Srilanka

In [17]:
print("India",5,True)

India 5 True

In [18]:
print("India", "Pakistan","Nepal","Srilanka",sep='-')

India-Pakistan-Nepal-Srilanka

In [19]:
print("India", "Pakistan","Nepal","Srilanka",sep='/')

India/Pakistan/Nepal/Srilanka

In [20]:
print("Hello",end=' ')
print("World")

Hello World

## Data-Type

In [21]:
# integer

print(4)
print(1e309)

4
inf

In [22]:
# float
print(5,6)
print(False)

5 6
False

In [23]:
# bool
print(True)
print(False)

True
False

In [24]:
#complex

print(4+5j)

(4+5j)

In [25]:
#string

print("Kolkata")
print("Kolkata")
print("""Kolkata""")

Kolkata
Kolkata
Kolkata

In [26]:
# tuple
print((1,2,3,4,5,6))

(1, 2, 3, 4, 5, 6)

In [27]:
# sets

print({1,2,3,4,5,6})

{1, 2, 3, 4, 5, 6}

In [28]:
# dict

print({"Name":"Nitesh","Age":30,"Gender":"Male"})

{'Name': 'Nitesh', 'Age': 30, 'Gender': 'Male'}

## Variable-in-Python

In [29]:
name = "Nitesh"
print(name)

Nitesh

##### No variable declaration

In [30]:
name = True
print(name)

True

In [31]:
#special syntax

a = 5;b=6;c=7
print(a)
print(b)
print(c)

5
6
7

In [32]:
a,b,c = 4,5,6
print(a)
print(b)
print(c)

4
5
6

## Keywords-and--identifire

In [33]:
# python has 33 keywords

import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [34]:
# Can only start with an alphabet

name = "Nitesh"  #it is working 
print(name)

Nitesh

In [35]:
2 = "Nitesh"
print(2)          # if you put the digits as a variable its get you the error

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (4264282111.py, line 1)

In [ ]:
# Fowllowed by 0 or more letter,_and digit

firt_name = "Nitesh"
print(firt_name)    #it a valid

Nitesh

In [ ]:
__="Nitesh"
print(__)

Nitesh

In [ ]:
# keyword cannot be used as an identifir

False = "Nitesh"   # getting a error
print(False)

SyntaxError: cannot assign to False (4187921518.py, line 3)

## Taking-user-input-and-type-conversion

In [42]:
input("apna naame")

'apna'

In [38]:
first_num = input("Enter the first number")
second_num = input("Enter the second number")

In [40]:
print(first_num)
print(second_num)

96

In [41]:
print(first_num+second_num)

5596

In [43]:
# implicit
# explicit

In [44]:
4 + 5.5

9.5

In [45]:
5 + 6 + 7j

(11+7j)

In [46]:
4.5 + 5+5j

(9.5+5j)

In [47]:
first_num + second_num

'5596'

In [49]:
# int

int('45')

45

In [50]:
str(5)

'5'

In [56]:
bool(5)

True

In [58]:
complex(5+5j)

(5+5j)

In [59]:
list("Hello")

['H', 'e', 'l', 'l', 'o']

In [62]:
first_num = int(input("Enter the first number"))
second_num = int(input("Enter the second number"))

result = int(first_num) + int(second_num)
print(result)

100

## Literals

In [64]:
a = 0b1010 #binary lietral
b = 100 #decimal literal
c = 0o310 #Octal literal
d = 0x12c #Hexadecimal literal

#Float literal
float_1 = 10.5
float_2 = 1.5e2
float_3 = 1.5e-3

#Complex literal
x = 3.14j

print(a, b, c, d)
print(float_1, float_2, float_3)
print(x, x.imag, x.real)

10 100 200 300
10.5 150.0 0.0015
3.14j 3.14 0.0

## String

In [65]:
string = "This is python"
strings = 'This is Python'
char = "c"
multiliner_str = """This is a multliner string ith more than one line code"""
unicode = u"\U000106f00455412\1555UF4542"
raw_str = r"raw \n string"

print(string)
print(strings)
print(char)
print(multiliner_str)
print(unicode)
print(raw_str)

This is python
This is Python
c
This is a multliner string ith more than one line code
êõ∞0455412m5UF4542
raw \n string

## Boolean literal

In [66]:
a = True + 4
b + False + 10

print("a:", a)
print("b:", b)

a: 5
b: 100

### Special Literal

In [67]:
a = None
print(a)

None

In [68]:
c = 34+45

## Operators in Python

In [1]:
x = 5
y = 2

print(x+y)

7

In [2]:
x = 5
y = 2

print(x**y)

25

In [4]:
x = 5
y = 2

print(x//2)

2

In [5]:
print(x%y)

1

In [6]:
print(x <= y)

False

In [7]:
print(x==y)

False

In [8]:
print(x < y)

False

In [10]:
print(x !=y)

True

In [11]:
#Logical Operators

x = True
y = False

print(x or y)

True

In [12]:
print(x and y)

False

In [14]:
print(not y)

True

In [16]:
# Bitwise is workig as a binary operators

x = 2
y = 3

print(x & y)

2

In [17]:
# Assignment Operators

a = 3
print(a)

3

In [18]:
a += 3
# a = a + 3
print(a)

6

In [19]:
a-=3
a *=3

In [22]:
# Identity Operators

a = 3
b = 3

print(a is b)

True

In [23]:
# Membership Operators

x = 'Delhi'

print("D" not in x)

False

In [25]:
x = (1,2,3)

print(3 in x)      # you have to check the value is avalible in your data or not if it is available so get True if not get False

True