In [2]:
# Dictionary has no indexing
# Dictionary is a mutable types
# Keys immutable values they can be mutable
# Keys should be unique


# Mutable--> List/Sets/Dictionary
# Immutable --> String/tuples/int/float/Boolean/complex

In [4]:
# Create

D = {}
D

{}

In [5]:
d = {"Name":"Ritesh","Gender":"Male"}
d

{'Name': 'Ritesh', 'Gender': 'Male'}

In [6]:
d1 = {(1,2,3):"Nitesh"}
d1

{(1, 2, 3): 'Nitesh'}

In [7]:
d2 = {"Name":"Rahul","Name":"Rohit"}
d2

{'Name': 'Rohit'}

In [25]:
d3 = {"Name":"Rohit","College":"HIT","Marks":{"M1":56,"DS":54,"Eng":64}}
d3

{'Name': 'Rohit', 'College': 'HIT', 'Marks': {'M1': 56, 'DS': 54, 'Eng': 64}}

In [10]:
# Access iteam from a dict

# d["Name"]

d["Gender"]

'Male'

In [11]:
d3["Marks"]

{'M1': 56, 'DS': 54, 'Eng': 64}

In [12]:
d3["Marks"]["DS"]

54

In [13]:
# Edit

d

{'Name': 'Ritesh', 'Gender': 'Male'}

In [16]:
d["Name"]="Rahul"
d

{'Name': 'Rahul', 'Gender': 'Male'}

In [18]:
d3["Marks"]=78
d3

{'Name': 'Rohit', 'College': 'HIT', 'Marks': 78}

In [19]:
d

{'Name': 'Rahul', 'Gender': 'Male'}

In [20]:
d.get('Name')

'Rahul'

In [22]:
# Add a new key-value pairs

d['Age']=23

d

{'Name': 'Rahul', 'Gender': 'Male', 'Age': 23}

In [26]:
d3

{'Name': 'Rohit', 'College': 'HIT', 'Marks': {'M1': 56, 'DS': 54, 'Eng': 64}}

In [28]:
d3['Marks']['M2']=50

d3

{'Name': 'Rohit',
 'College': 'HIT',
 'Marks': {'M1': 56, 'DS': 54, 'Eng': 64, 'M2': 50}}

In [35]:
# Delete

d10 = {"Name":"Rahul","Name":"Rohit"}  # delete the all value of dict
del d10

In [44]:
d['Gender']='Male'
d

{'Name': 'Rahul', 'Age': 23, 'Gender': 'Male'}

In [45]:
del d['Gender']   #delete a gender row of dict

d

{'Name': 'Rahul', 'Age': 23}

In [46]:
# Operations

d

{'Name': 'Rahul', 'Age': 23}

In [47]:
d2

{'Name': 'Rohit'}

In [48]:
d3

{'Name': 'Rohit',
 'College': 'HIT',
 'Marks': {'M1': 56, 'DS': 54, 'Eng': 64, 'M2': 50}}

In [49]:
for i in d3:
    print(i)    #it give you only a keys not values

Name
College
Marks

In [51]:
for i in d3:
    print(i,d3[i])  #get all the values for keys and value

Name Rohit
College HIT
Marks {'M1': 56, 'DS': 54, 'Eng': 64, 'M2': 50}

In [54]:
# "Rohit" in d3  give you false because rohit is not in d3 value 

'Name' in d3   #it is available in d3 so get True

True

In [68]:
# min(d3)

# len(d3)

# sorted(d3)

# sorted(d3,reverse=True)

# d3.keys()

d3.values()

dict_values(['Rohit', 'HIT', {'M1': 56, 'DS': 54, 'Eng': 64, 'M2': 50}])