In [ ]:
# Sets do not allow duplicates
# Sets have no indexing slicing 
# Sets dont allow mutable data types
# Sets itself is a mutable data type

In [1]:
# Create

s1 = {}
s1

{}

In [2]:
s1 = set()

s1

set()

In [3]:
s1 = (1,2,3,4)
s1

(1, 2, 3, 4)

In [4]:
s2 = ("hello",4.5,True)
s2

('hello', 4.5, True)

In [6]:
s3 = {1,2,3,3,4,4}
s3

{1, 2, 3, 4}

In [7]:
s4 = {(1,2,3),"Hello"}
s4

{(1, 2, 3), 'Hello'}

In [8]:
# sets have no indexing 

# hasing

In [9]:
# Access iteam

s2

('hello', 4.5, True)

In [14]:
l = list(s1)  #you have to convert sets to list

In [15]:
l

[1, 2, 3, 4]

In [16]:
l[0]=100    #replace a new value

In [18]:
s1=set(l)            #convert into list to sets
s1

{2, 3, 4, 100}

In [23]:
s1.remove(3)
s1

{4}

In [24]:
s1.pop()

4

In [49]:
# # set operations

# s1 = {1,2,3,4,5,6,7}
# s2 = {3,4,5,6,7,8}

# s1+s2

# #cant concatinate the sets

In [37]:
for i in s1:
    print(i)

1
2
3
4
5
6
7

In [38]:
len(s1)

7

In [39]:
min(s1)

1

In [40]:
max(s1)

7

In [41]:
sorted(s1)

[1, 2, 3, 4, 5, 6, 7]

In [42]:
sum(s1)

28

In [43]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [44]:
s1.intersection(s2)

{3, 4, 5, 6, 7}

In [45]:
s1.difference(s2)

{1, 2}

In [46]:
s1.symmetric_difference(s2)

{1, 2, 8}

In [47]:
s1.isdisjoint(s2)

False

In [48]:
s1.issubset(s2)

False