In [3]:
# Create

t1 = ()
t1

()

In [4]:
t2 = (1,2,3,4,5)
t2

(1, 2, 3, 4, 5)

In [5]:
t3 = ("Hello",2,4,5,6)
t3

('Hello', 2, 4, 5, 6)

In [6]:
t5 = (1)
type(t5)

int

In [7]:
t5 = ("hello")
type(t5)

str

In [10]:
t6 = tuple("Goa")
t6

('G', 'o', 'a')

In [11]:
t7 = tuple([1,2,4,5,6,7,9])
t7

(1, 2, 4, 5, 6, 7, 9)

In [13]:
# Access

t2[0]

1

In [14]:
t2[-1]

5

In [17]:
t3[-1]

6

In [18]:
# Edit

l = [1,2,3,4,5]
l[0]

1

In [19]:
t2[0]=100

TypeError: 'tuple' object does not support item assignment

In [ ]:
# tuple just like string are immutable

In [20]:
t3

('Hello', 2, 4, 5, 6)

In [21]:
t2

(1, 2, 3, 4, 5)

In [23]:
t2*3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [24]:
for i in t2:
    print(i)

1
2
3
4
5

In [25]:
len(t2)

5

In [26]:
min(t2)

1

In [27]:
max(t2)

5

In [28]:
sum(t2)

15

In [29]:
sorted(t2)

[1, 2, 3, 4, 5]

In [30]:
sorted(t2,reverse=True)

[5, 4, 3, 2, 1]