### Importing Pandas

In [2]:
import pandas as pd
import numpy as np

**Series from lists**

In [3]:
# string
country = ['India','Pakistan','USA','Nepal','Srilanka']

pd.Series(country)

0       India
1    Pakistan
2         USA
3       Nepal
4    Srilanka
dtype: object

In [4]:
# integers
runs = [13,24,56,78,100]

runs_ser = pd.Series(runs)

In [6]:
# custom index
marks = [67,57,89,100]
subjects = ['maths','english','science','hindi']

pd.Series(marks,index=subjects)

maths       67
english     57
science     89
hindi      100
dtype: int64

In [7]:
# setting a name
marks = pd.Series(marks,index=subjects,name='Nitish ke marks')
marks

maths       67
english     57
science     89
hindi      100
Name: Nitish ke marks, dtype: int64

### Series from dict

In [8]:
marks = {
    'maths':67,
    'english':57,
    'science':89,
    'hindi':100
}

marks_series = pd.Series(marks,name='nitish ke marks')
marks_series

maths       67
english     57
science     89
hindi      100
Name: nitish ke marks, dtype: int64

### Series Attributes

In [9]:
# size
marks_series.size

4

In [10]:
# dtype
marks_series.dtype

dtype('int64')

In [11]:
# name
marks_series.name

'nitish ke marks'

In [17]:
# is_unique
marks_series.is_unique

pd.Series([1,1,2,3,4,5]).is_unique

False

In [13]:
# index
marks_series.index

Index(['maths', 'english', 'science', 'hindi'], dtype='object')

In [14]:
runs_ser.index

RangeIndex(start=0, stop=5, step=1)

In [15]:
# values
marks_series.values

array([ 67,  57,  89, 100], dtype=int64)

### Series using read_csv

In [29]:
subs = pd.read_csv(r"D:\100-DAYS-OF-PYTHON-PROGRAMMING\100-DAYS-OF-PYTHON-PROGRAMMING\Import-Pandas\Dataset\subs.csv",squeeze=True)

subs.head()

C:\Users\Public\Documents\iSkysoft\CreatorTemp\ipykernel_5612\2370434965.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  subs = pd.read_csv(r"D:\100-DAYS-OF-PYTHON-PROGRAMMING\100-DAYS-OF-PYTHON-PROGRAMMING\Import-Pandas\Dataset\subs.csv",squeeze=True)

0    48
1    57
2    40
3    43
4    44
Name: Subscribers gained, dtype: int64

In [35]:
vk = pd.read_csv(r"D:\100-DAYS-OF-PYTHON-PROGRAMMING\100-DAYS-OF-PYTHON-PROGRAMMING\Import-Pandas\Dataset\kohli_ipl.csv",index_col='match_no',squeeze=True)

vk.head()

C:\Users\Public\Documents\iSkysoft\CreatorTemp\ipykernel_5612\1240411279.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  vk = pd.read_csv(r"D:\100-DAYS-OF-PYTHON-PROGRAMMING\100-DAYS-OF-PYTHON-PROGRAMMING\Import-Pandas\Dataset\kohli_ipl.csv",index_col='match_no',squeeze=True)

match_no
1     1
2    23
3    13
4    12
5     1
Name: runs, dtype: int64

In [43]:
movies=pd.read_csv(r"D:\100-DAYS-OF-PYTHON-PROGRAMMING\100-DAYS-OF-PYTHON-PROGRAMMING\Import-Pandas\Dataset\bollywood.csv",index_col='movie',squeeze=True)

C:\Users\Public\Documents\iSkysoft\CreatorTemp\ipykernel_5612\4211354610.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  movies=pd.read_csv(r"D:\100-DAYS-OF-PYTHON-PROGRAMMING\100-DAYS-OF-PYTHON-PROGRAMMING\Import-Pandas\Dataset\bollywood.csv",index_col='movie',squeeze=True)

In [38]:
# head and tail
subs.head()

0    48
1    57
2    40
3    43
4    44
Name: Subscribers gained, dtype: int64

In [39]:
vk.head(3)

match_no
1     1
2    23
3    13
Name: runs, dtype: int64

In [40]:
vk.tail(10)

match_no
206     0
207     0
208     9
209    58
210    30
211     0
212    20
213    73
214    25
215     7
Name: runs, dtype: int64

In [45]:
# sample
movies.sample(15)

movie
Kaal (2005 film)                             Ajay Devgn
Jeena Hai Toh Thok Daal                     Ravi Kishan
Escape from Taliban                     Manisha Koirala
John Day (film)                        Naseeruddin Shah
Babumoshai Bandookbaaz              Nawazuddin Siddiqui
Shukriya: Till Death Do Us Apart            Anupam Kher
Dharam Sankat Mein                     Naseeruddin Shah
Anjaana Anjaani                         Priyanka Chopra
Singh Is Bliing                            Akshay Kumar
Ferrari Ki Sawaari                        Sharman Joshi
Shaadi Mein Zaroor Aana                   Rajkummar Rao
Darna Mana Hai                            Sameera Reddy
Keep Safe Distance (film)                 Shahbaaz Khan
Badlapur Boys                               Annu Kapoor
Arjun: The Warrior Prince             Yudhveer Bakoliya
Name: lead, dtype: object

In [46]:
# value_counts -> movies
movies.value_counts()

Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
                    ..
Diganth              1
Parveen Kaur         1
Seema Azmi           1
Akanksha Puri        1
Edwin Fernandes      1
Name: lead, Length: 566, dtype: int64

In [47]:
# sort_values -> inplace
vk.sort_values(ascending=False).head(1).values[0]

113

In [48]:
vk.sort_values(ascending=False)

match_no
128    113
126    109
123    108
164    100
120    100
      ...
93       0
211      0
130      0
8        0
135      0
Name: runs, Length: 215, dtype: int64

In [49]:
# sort_index -> inplace -> movies
movies.sort_index(ascending=False,inplace=True)

In [50]:
movies

movie
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Zokkomon                       Darsheel Safary
Zindagi Tere Naam           Mithun Chakraborty
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi 50-50                      Veena Malik
                                   ...
2 States (2014 film)              Arjun Kapoor
1971 (2007 film)                Manoj Bajpayee
1920: The Evil Returns             Vicky Ahuja
1920: London                     Sharman Joshi
1920 (film)                   Rajniesh Duggall
Name: lead, Length: 1500, dtype: object

In [51]:
vk.sort_values(inplace=True)

In [52]:
vk

match_no
87       0
211      0
207      0
206      0
91       0
      ...
164    100
120    100
123    108
126    109
128    113
Name: runs, Length: 215, dtype: int64

#### Series Maths Methods

In [53]:
# count
vk.count()

215

In [54]:
# sum -> product
subs.sum()

49510

In [55]:
# mean -> median -> mode -> std -> var
subs.mean()
print(vk.median())
print(movies.mode())
print(subs.std())
print(vk.var())

24.0
0    Akshay Kumar
Name: lead, dtype: object
62.67502303725269
688.0024777222342

In [56]:
# min/max
subs.max()

396

In [57]:
# describe
subs.describe()

count    365.000000
mean     135.643836
std       62.675023
min       33.000000
25%       88.000000
50%      123.000000
75%      177.000000
max      396.000000
Name: Subscribers gained, dtype: float64

#### Series Indexing

In [58]:
# integer indexing
x = pd.Series([12,13,14,35,46,57,58,79,9])
x

0    12
1    13
2    14
3    35
4    46
5    57
6    58
7    79
8     9
dtype: int64

In [61]:
#x[-1]    #series is not working in negative number only for positive number


x[1]

13

In [95]:
marks_series[-1]

100

In [98]:
# slicing
vk[5:16]

match_no
93     0
8      0
130    0
135    0
106    1
113    1
77     1
75     1
1      1
174    1
5      1
Name: runs, dtype: int64

In [99]:
# negative slicing
vk[-5:]

match_no
164    100
120    100
123    108
126    109
128    113
Name: runs, dtype: int64

In [104]:
movies[::2]

movie
Zor Lagaa Ke...Haiya!         Meghan Jadhav
Zindagi Tere Naam        Mithun Chakraborty
Zindagi 50-50                   Veena Malik
Zinda (film)                    Sanjay Dutt
Zid (2014 film)              Mannara Chopra
                                ...
3 Storeys                       Aisha Ahmed
3 Deewarein                Naseeruddin Shah
22 Yards                        Barun Sobti
1971 (2007 film)             Manoj Bajpayee
1920: London                  Sharman Joshi
Name: lead, Length: 750, dtype: object

In [105]:
# fancy indexing
vk[[1,3,4,5]]

match_no
1     1
3    13
4    12
5     1
Name: runs, dtype: int64

In [106]:
# indexing with labels -> fancy indexing
movies['2 States (2014 film)']

'Arjun Kapoor'

#### Editing Series

In [107]:
marks

{'maths': 67, 'english': 57, 'science': 89, 'hindi': 100}

In [108]:
# using indexing
marks_series[1] = 100
marks_series

maths       67
english    100
science     89
hindi      100
Name: nitish ke marks, dtype: int64

In [109]:
# what if an index does not exist
marks_series['evs'] = 100

In [111]:
marks_series

maths       67
english    100
science     89
hindi      100
evs        100
Name: nitish ke marks, dtype: int64

In [112]:
# slicing
runs_ser[2:4] = [100,100]
runs_ser

0     13
1     24
2    100
3    100
4    100
dtype: int64

In [ ]:
# 1:32:46